div(class="container")
    div(class="row")
        div(class="col-md-4")
            div(class="form-group")
                input(type="text", placeholder="Host", class="form-control", id="hostname", value="gis.it.kmitl.ac.th")
        div(class="col-md-3")
            div(class="form-group")
                input(type="text", placeholder="Port", class="form-control", id="port", value="3000")
        div(class="col-md-3")
            div(class="form-group")
                input(type="text", placeholder="Client ID", class="form-control", id="client_id")
        div(class="col-md-2")
            div(class="form-group")
                button(type="submit", class="btn btn-primary", id="connect_btn") Connect
        div(class="col-md-4")
            div(class="form-group")
                input(type="text", placeholder="Username", class="form-control", id="username", value="#{user.username}")
        div(class="col-md-3")
            div(class="form-group")
                input(type="password", placeholder="Password", class="form-control", id="password")

    div(class="row")
        div(class="col-md-6")
            h3 Publish
            hr
            div(class="row")
                div(class="col-md-8")
                    div(class="form-group")
                        input(type="text", placeholder="Topic", class="form-control", id="topic")
                div(class="col-md-4")
                    div(class="form-group")
                        button(type="submit", class="btn btn-primary btn-block", id="publish_btn") Publish
                div(class="col-md-12")
                    div(class="form-group")
                        textarea(placeholder="Messages", class="form-control", id="message")

        div(class="col-md-6")
            h3 Messages
            hr
            div(class="row")
                div(class="col-md-8")
                    div(class="form-group")
                        input(type="text", placeholder="Topic", class="form-control", id="subscribe_topic")
                div(class="col-md-4")
                    div(class="form-group")
                        button(type="submit", class="btn btn-primary btn-block", id="subscribe_btn") Subscribe
            div(id="messages-container", style="max-height: 300px; overflow: auto")
                ul(id="messages")
