doctype html
html
    head
        title KMITL MQTT Broker
        link(rel="stylesheet", href="/css/libs/bootstrap.css")
        link(rel="stylesheet", href="/css/all.css")
    body(id="index")
        div(class="container")
            include ./accounts/logout.jade
            include ./dashboard/main.jade
        script(src="/js/libs/require.js", data-main="js/dashboard.js")
