doctype html
html(ng-app)
    head
        title KMITL MQTT Broker
        link(rel="stylesheet", href="/css/libs/bootstrap.css")
        link(rel="stylesheet", href="/css/all.css")
    body(id="index", ng-controller="LogDisplayController")
        div(class="container")
            h1 LOGS
            div(id="log_container")
        script(src="/js/libs/require.js", data-main="js/logs.js")
