h1(class="text-center") Welcome to KMITL MQTT Broker
hr
form(class="login-form", action="/login", method="post")
    - for message in error_messages
        div(class="alert alert-danger", role="alert")
            = message
    - for message in success_messages
        div(class="alert alert-success", role="alert")
            = message
    div(class="form-group")
        label(for="username") Username
        input(type="text", class="form-control", id="username", placeholder="Username", name="username")
    div(class="form-group")
        label(for="password") Password
        input(type="password", class="form-control", id="password", placeholder="Password", name="password")
    button(type="submit", class="btn btn-success btn-block") Submit
    a(href="/register") Register