doctype html
html
    head
        title KMITL MQTT Broker
        link(rel="stylesheet", href="/css/libs/bootstrap.css")
        link(rel="stylesheet", href="/css/all.css")
    body(id="index")
        div(class="container")
            h1(class="text-center") Register
            hr
            form(class="login-form", action="/register", method="post")
                - for message in error_messages
                    div(class="alert alert-danger", role="alert")
                        = message
                div(class="form-group")
                    label(for="name") Name
                    input(type="text", class="form-control", id="name", placeholder="Name", name="name", required="required")
                div(class="form-group")
                    label(for="student_id") Student ID
                    input(type="text", class="form-control", id="student_id", placeholder="Student ID", name="student_id", required="required")
                div(class="form-group")
                    label(for="username") Username
                    input(type="text", class="form-control", id="username", placeholder="Username", name="username", required="required")
                div(class="form-group")
                    label(for="password") Password
                    input(type="password", class="form-control", id="password", placeholder="Password", name="password", required="required")
                button(type="submit", class="btn btn-success btn-block") Register
        script(src="/js/libs/require.js", data-main="js/apps/register.js")

